@using Core.Data;
@using Satchel.Components.Pages.Notes;

<h3>NoteList</h3>
@foreach (var n in @Notes)
{
    <NotePage Current=@n></NotePage>
}

@code {
    [Parameter]
    public string? CurrentFolder { get; set; }
    private IEnumerable<Note> Notes = new List<Note>();

    protected override async Task OnInitializedAsync()
    {
        FetchCurrentNotes();
        this.StateHasChanged();
    }

    private void FetchCurrentNotes()
    {
        if (!string.IsNullOrWhiteSpace(CurrentFolder))
        {
            //TODO: recursive folder
            var currentFiles = Directory.EnumerateFiles(CurrentFolder);
            Notes = currentFiles.Select(cf => new Note(cf));
        }
    }
}

